<div class="face-snap-card">
  <h2>{{ faceSnap.title }}</h2>
  <p>Mis en ligne le {{ faceSnap.createdDate }}</p>
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title" />
  <p>{{ faceSnap.description }}</p>
  <p>
    <button (click)="toggleSnap()">{{ snapButtonText }}</button>
    🤟 {{ faceSnap.snaps }}
  </p>
</div>
